body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;

    justify-content: center;
    align-items: center;
    height: 100vh;
}

section.login-section {
    display: flex;
    justify-content: center;
    background-color: #2188c7;
    height: 100vh;
    align-content: center;
    align-items: center;
}

.header,
.footer {
    display: none;
}

.login-section .container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(14, 45, 67, 0.297);
    padding: 20px;
    padding-left: 0 !important;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex-direction: row;
    height: 60%;
}


.image-container img {
    width: 314px;
    height: 419px;
    animation: jump-in 1s ease-out;
    /* border-radius: 2rem; */
}

.forms-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    opacity: 0;
    /* Inicialmente oculto */
    animation: fade-in 1s ease-out forwards;
    /* Animação de fade-in */
}

.forms-container h3 {
    margin-bottom: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: #ffffff;

}

.containers-inputs {
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    animation: slide-up 1s ease-out forwards;

}

.senha-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    opacity: 0;
    animation: slide-up 1.5s ease-out forwards;


}


.submit-button {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    opacity: 0;
    animation: slide-up 2s ease-out forwards;


}

.redirect-buttons {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    opacity: 0;
    animation: slide-up 2.5s ease-out forwards;


}

/* Estilo dos campos de entrada e botão */
.input-container input,
.senha-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

#esqueciminhasenha {
    text-align: right;
    margin-bottom: 20px;
}

.submit-button,
.redirect-buttons a {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.redirect-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.register-link p {
    text-align: center;
}

@keyframes jump-in {
    0% {
        transform: translateY(-350px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(550px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Animações com delay para os elementos */
.input-container {
    animation-delay: 0.3s;
}

.senha-container {
    animation-delay: 0.5s;
}

.submit-button {
    animation-delay: 0.7s;
}

.redirect-buttons a:nth-child(1) {
    animation-delay: 0.9s;
}

.redirect-buttons a:nth-child(2) {
    animation-delay: 1.1s;
}

/* Estilo dos botões adicionais */
.buttonF {
    background: transparent;
    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #ffffff;
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: #ffffff;
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
}

.buttonF svg {
    fill: #ffffff;
    height: 25px;
    width: 25px;
}

.buttonF span {
    margin: 10px;
}

.buttonF::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
}

.buttonF:hover {
    color: #fff;
    border: 1px solid #0163E0;
}

.buttonF:hover svg {
    fill: currentColor;
}

.buttonF:hover::before {
    box-shadow: inset 0 0 0 10em #0163E0;
}


/* Fancy Google hover button made by: csozi | Website: www.csozi.hu*/

.button1 {
    background: transparent;
    position: relative;
    padding: 12px 29px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #ffffff;
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: #ffffff;
    transition: color 0.3s 0.1s ease-out;
    text-align: center
}

.svg {
    height: 25px;
    margin-right: 10px;
}

.button1 .textL {
    z-index: 10;
}

.button1:hover .textL {
    animation: text forwards 0.3s;
    color: white;
}

@keyframes text {
    from {
        color: black;
    }

    to {
        color: white;
    }
}

.svg {
    z-index: 6;
}

.button1:hover::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 9%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    opacity: 0;
    border-radius: 300px;
    animation: wave1 2.5s ease-in-out forwards;
}

.button1:hover::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 9%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    opacity: 0;
    border-radius: 300px;
    animation: wave2 2.5s ease-in-out forwards;
}

@keyframes wave1 {
    0% {
        z-index: 1;
        background: #EB4335;
        width: 0;
        height: 0;
        opacity: 1;
    }

    1% {
        z-index: 1;
        background: #EB4335;
        width: 0;
        height: 0;
        opacity: 1;
    }

    25% {
        z-index: 1;
        background: #EB4335;
        width: 800px;
        height: 800px;
        opacity: 1;
    }

    26% {
        z-index: 3;
        background: #34A853;
        width: 0;
        height: 0;
        opacity: 1;
    }

    50% {
        z-index: 3;
        background: #34A853;
        width: 800px;
        height: 800px;
        opacity: 1;
    }

    70% {
        z-index: 3;
        background: #34A853;
        width: 800px;
        height: 800px;
        opacity: 1;
    }

    100% {
        z-index: 3;
        background: #34A853;
        width: 800px;
        height: 800px;
        opacity: 1;
    }
}

@keyframes wave2 {
    0% {
        z-index: 2;
        background: #FBBC05;
        width: 0;
        height: 0;
        opacity: 1;
    }

    11% {
        z-index: 2;
        background: #FBBC05;
        width: 0;
        height: 0;
        opacity: 1;
    }

    35% {
        z-index: 2;
        background: #FBBC05;
        width: 800px;
        height: 800px;
        opacity: 1;
    }

    39% {
        z-index: 2;
        background: #FBBC05;
        width: 800px;
        height: 800px;
        opacity: 1;
    }

    40% {
        z-index: 4;
        background: #4285F4;
        width: 0;
        height: 0;
        opacity: 1;
    }

    64% {
        z-index: 4;
        background: #4285F4;
        width: 800px;
        height: 800px;
        opacity: 1;
    }

    100% {
        z-index: 4;
        background: #4285F4;
        width: 800px;
        height: 800px;
        opacity: 1;
    }
}

.button1:hover .red {
    animation: disappear 0.1s forwards;
    animation-delay: 0.1s;
}

.button1:hover .yellow {
    animation: disappear 0.1s forwards;
    animation-delay: 0.3s;
}

.button1:hover .green {
    animation: disappear 0.1s forwards;
    animation-delay: 0.7s;
}

.button1:hover .blue {
    animation: disappear 0.1s forwards;
    animation-delay: 1.1s;
}

@keyframes disappear {
    from {
        filter: brightness(1);
    }

    to {
        filter: brightness(100);
    }
}

.fa,
.fas {
    font-weight: 900;
    font-size: 18px;
    color: #ffffff;
}



.submit-button {
    padding: 1.3rem 2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #ffffffe2;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
}


.submit-button:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #ff6700;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
}

.submit-button:hover {
    background-color: #4cc9f0;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
}

.submit-button:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
}

.submit-button:active {
    transform: scale(0.9);
}