<link rel="stylesheet" href="css/consultaMedico.css">

<!-- Seção da tabela de dados -->
<section class="dados" id="dados">

  <div id="prontuarioModal" class="modal">
    <div class="modal-content">
      <h2>Prontuário Breaking Med</h2>
      <span class="close" onclick="fecharProntuario()">X</span>
    </div>
    <div id="prontuarioContent">
      <!-- Conteúdo do prontuário será adicionado aqui -->
    </div>
    <H2>Medicação</H2>
    <textarea type="text" style="height: 100px; width: 100%; border: 1px solid;" id="input-medication"></textarea>
  
    <H2>Descrição</H2>
    <textarea type="text" style="height: 200px; width: 100%; border: 1px solid;" id="input-description"></textarea>
  
    <button id="sendAttPront">Atualizar Prontuario</button>
  </div>


  <h1 class="heading"> <span>Tabela de Dados</span> </h1>
  <table>
    <thead>
      <tr>
        <th>Consulta ID</th>
        <th>Nome do Paciente</th>
        <th>CPF</th>
        <th>Data da Consulta</th>
        <th>Horario da Consulta</th>
        <th>Prontuario</th>
        <!-- <th>Ações</th> -->
      </tr>
    </thead>
    <tbody id="corpo-tabela-dados">
      <!-- Os dados serão inseridos aqui pelo JavaScript -->
      <!-- <td><button class="fas fa-book-medical btn-prontuario" onclick="abrirProntuario(1)"></button></td> -->
    </tbody>
  </table>


</section>
<!-- Fim da seção da tabela de dados -->


<script>

  const dataUser = JSON.parse(sessionStorage.getItem('userData'))
  const token = dataUser.token

  const pessoaId = dataUser.moreInfos.pessId

  console.log("requisitando consultas medico", " id do funcionario: ")
  fetch('/ConsultasMedico', {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json',
      authorization: token,
      idpessoa: pessoaId
    }
  })
    .then(response => response.json())
    .then(data => {

      if (data.result === false) {
        alert("não foi possivel retornar as especializações disponiveis para registro erro:", data.cadastroMessage)
        return
      } else if (data.auth === false) {
        alert('usuario deslogado, logue novamente para continuar')
        window.location = '/login'
      }

      const tableReceiver = document.getElementById('corpo-tabela-dados')

      data.moreInfos.forEach(e => {
        const linha = document.createElement('tr')
        const colunaId = document.createElement('td')
        colunaId.innerText = `${e.idConsulta}`
        const colunaPacienteNome = document.createElement('td')
        colunaPacienteNome.innerText = `${e.dadosPaciente.nomeDoPaciente}`
        const colunaCpf = document.createElement('td')
        colunaCpf.innerText = `${e.dadosPaciente.cpf}`
        const colunaDataConsulta = document.createElement('td')
        colunaDataConsulta.innerText = `${e.dataConsulta}`
        const colunaHoraConsulta = document.createElement('td')
        colunaHoraConsulta.innerText = `${e.horaConsulta}`
        const colunaProntuario = document.createElement('td')


        const createProntRegister = document.createElement("i")
        createProntRegister.classList = "fas fa-folder"


        createProntRegister.addEventListener("click", () => {
          abrirProntuario(e)
        })

        colunaProntuario.append(createProntRegister)
        linha.append(colunaId, colunaPacienteNome, colunaCpf, colunaDataConsulta, colunaHoraConsulta, colunaProntuario)
        tableReceiver.appendChild(linha)

      })

    })
    .catch(error => {
      console.log('erro')
      console.error('Erro:', error);
    });


  function abrirProntuario(consultaAndPront) {


    // falta criar lógica para carregar os dados do prontuário com base no ID da consulta
    const prontuarioContent = document.getElementById("prontuarioContent");
    prontuarioContent.innerHTML = "<p style='font-size:15px'>Conteúdo do prontuário para a consulta ID: " + consultaAndPront.idConsulta + "</p>";

    if (consultaAndPront.dadosProntuario.diagnostico !== "") {
      console.log("true")
      document.getElementById('input-description').value = `${consultaAndPront.dadosProntuario.diagnostico}`
    }
    else {
      console.log("false")
    }


    if(consultaAndPront.dadosProntuario.medicacao !== "") {
      document.getElementById('input-medication').value = `${consultaAndPront.dadosProntuario.medicacao}`
    }


    document.getElementById("sendAttPront").addEventListener("click", () => {
    enviaAtualizacaoProntuario(consultaAndPront.dadosProntuario.idPront)
  })

    // Exibe o modal do prontuário
    const prontuarioModal = document.getElementById("prontuarioModal");
    prontuarioModal.style.display = "flex";
    prontuarioModal.style.flexDirection = "column"



  }

  function fecharProntuario() {
    // Oculta o modal do prontuário
    var prontuarioModal = document.getElementById("prontuarioModal");
    prontuarioModal.style.display = "none";
  }


  function enviaAtualizacaoProntuario (idProntuario) {
    fetch('/Prontuario', {
      method: 'PUT',
      headers: {
        'Content-Type': 'application/json',
        authorization: token
      },
      body: JSON.stringify({
        idPront: idProntuario,
        diagnostico: document.getElementById('input-description').value,
        medicacao: document.getElementById('input-medication').value
      })
    })
      .then(response => response.json())
      .then(data => {
        if (data.result === false) {
          alert("Dados do Prontuario atualizado com sucesso.")
          return
        } else if (data.auth === false) {
          alert('usuario deslogado, logue novamente para continuar')
          window.location = '/login'
        }
      })
      .catch(error => {
        // Lidar com o erro
        console.error('Erro:', error);
      });
  }



 

</script>

<!-- Inicio da função de enviar informações do formulario -->
<!--
// Função para fechar o prontuário
function fecharProntuario() {
  // Oculta o modal do prontuário
  var prontuarioModal = document.getElementById("prontuarioModal");
  prontuarioModal.style.display = "none";
} -->
<!-- Fim da função de enviar informações do formulario -->


<!-- Seção do rodapé -->
<!-- <section class="footer">
  <div class="credit">Criado por <span>Breaking Medical Clinic.</span> | 2024 Todos os direitos reservados</div>
</section> -->
<!-- Fim da seção do rodapé -->

<!-- Link para o arquivo de JavaScript personalizado -->
<script src="../js/visualizaConsultaMedico.js"></script>