<link rel="stylesheet" href="css/home.css">

<section class="home" id="home">

    <div class="content">
        <h3>Seu bem-estar é nossa prioridade.</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat labore, sint cupiditate distinctio tempora reiciendis.</p>
        <a href="#" class="btn">Entre em contato conosco!!</a>
    </div>

</section>

<!-- Fim da seção de início -->

<!-- Seção sobre -->

<section class="sobre" id="sobre">

    <h1 class="heading"> <span>Sobre</span> nós </h1>

    <div class="row">

        <div class="image">
            <img src="/img/img5.jpg" alt="">
        </div>

        <div class="content">
            <h3>O que torna a nossa Clinica especial?</h3>
            <p>Bem-vindo à Breaking Med, onde a excelência médica se encontra com o cuidado humano. Nossa abordagem inovadora combina tecnologia de ponta com um toque pessoal, garantindo que cada paciente receba atenção individualizada e tratamento de última geração.</p>
            <p>Na Breaking Med, não apenas tratamos doenças; construímos relacionamentos duradouros com nossos pacientes, colocando seu bem-estar no centro de tudo o que fazemos. Descubra uma nova era na saúde, onde a qualidade se encontra com a compaixão, na Breaking Med.</p>
            <p>Na Breaking Med, acreditamos que a jornada de cura vai além da simples resolução de sintomas; é sobre capacitar nossos pacientes a viverem vidas plenas e saudáveis. Nossa equipe multidisciplinar de especialistas altamente qualificados está comprometida em oferecer cuidados abrangentes, desde a prevenção até o tratamento avançado, sempre com um foco na educação e no bem-estar do paciente.</p>
            <p>Nossa missão é ir além das expectativas, proporcionando não apenas tratamento, mas também apoio emocional e orientação em todas as etapas do processo de saúde. Na Breaking Med, estamos aqui para você, dedicados a ajudá-lo a alcançar sua melhor saúde e qualidade de vida. Agende sua consulta hoje e descubra o que torna a Breaking Med tão excepcional.</p>
            <a href="#" class="btn">Saiba mais</a>
        </div>

    </div>

</section>

<!-- Fim da seção sobre -->

<!-- Seção do especialidades -->

<section class="especialidades" id="especialidades">

    <h1 class="heading"> Especialidades <span>disponivel na nossa Unidade.</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="/img/img1.jpeg" alt="">
            <h3>Clinico Geral</h3>
            <a href="#" class="btn">Agendar agora</a>
        </div>

        <div class="box">
            <img src="/img/img1.jepg" alt="">
            <h3>Cardiologista</h3>
            <a href="#" class="btn">Agendar agora</a>
        </div>

        <div class="box">
            <img src="/img/img1.jepg" alt="">
            <h3>Pediatra</h3>
            <a href="#" class="btn">Agendar agora</a>
        </div>

        <div class="box">
            <img src="/img/img1.jepg" alt="">
            <h3>Neurologista</h3>
            <a href="#" class="btn">Agendar agora</a>
        </div>

        <div class="box">
            <img src="/img/img1.jepg" alt="">
            <h3>Dermatologista</h3>
            <a href="#" class="btn">Agendar agora</a>
        </div>

        <div class="box">
            <img src="/img/img1.jepg" alt="">
            <h3>Gastroenterologista</h3>
            <a href="#" class="btn">Agendar agora</a>
        </div>
        <div class="box">
            <img src="/img/img1.jepg" alt="">
            <h3>Ginecologista</h3>
            <a href="#" class="btn">Agendar agora</a>
        </div>
        <div class="box">
            <img src="/img/img1.jepg" alt="">
            <h3>Urologista</h3>
            <a href="#" class="btn">Agendar agora</a>
        </div>

    </div>

</section>

<!-- Fim da seção do especialidades -->



<!-- Seção de contato -->

<section class="contact" id="contact">

    <h1 class="heading"> Para nos <span>Contatar</span> </h1>

    <div class="row">

        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14622.644332357975!2d-47.13436688477602!3d-22.82526542107628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8e16b7bc4dc9f%3A0x7b369be40ad9bc19!2sSenai%20Celso%20Charuri!5e0!3m2!1sen!2sbr!4v1642157386237!5m2!1sen!2sbr" allowfullscreen="" loading="lazy"></iframe>



        <form action="">
            <h3>Entre em contato conosco</h3>
            <div class="inputBox">
                <span class="fas fa-user"></span>
                <input type="text" placeholder="Nome">
            </div>
            <div class="inputBox">
                <span class="fas fa-envelope"></span>
                <input type="email" placeholder="Email">
            </div>
            <div class="inputBox">
                <span class="fas fa-phone"></span>
                <input type="text" placeholder="Número">
            </div>
            <input type="submit" value="Contatar Agora" class="btn">
        </form>

    </div>

    
</section>

<!-- Fim da seção de contato -->

<script>
  
</script>
