<link rel="stylesheet" href="/css/header.css">

<header class="header" id="header">

  <a href="/" class="logo" id="logo-name-container" style="display: flex; width: 20%; justify-content: space-evenly;">
    <img src="/img/imgLogo1-removebg-preview.png" alt="logo">
  </a>

  <nav class="navbar" id="headerNavBar">

  </nav>

  <div id="iconLogger">
    <!-- <div class="fas fa-sign-out-alt" id="search-btn"></div> -->

    <button class="BtnSingIn">

      <div class="sign"><svg viewBox="0 0 512 512">
          <path
            d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
          </path>
        </svg></div>

      <div class="text">sair</div>
    </button>
  </div>



</header>

<script>

  document.getElementById("iconLogger").addEventListener("click", () => {
    console.log("clicou")
    sessionStorage.clear()

    window.location = "/"
  })



  if (sessionStorage.getItem('userData') !== null) {

    const dataUser = JSON.parse(sessionStorage.getItem('userData'))
    const navbar = document.getElementById('headerNavBar')
    if (dataUser.moreInfos.tipo === 'administrador') {

      const newUserBtn = document.createElement('a')
      newUserBtn.setAttribute('id', 'registerUser')
      newUserBtn.innerText = `Registrar novo Usuário`
      newUserBtn.href = '/RegisterPage'


      const newConsultaBtn = document.createElement('a')
      newConsultaBtn.setAttribute('id', 'consultasBtn')
      newConsultaBtn.innerText = `Agendamento de consulta`
      newConsultaBtn.href = '/NovaConsulta'


      const manipulaConsultas = document.createElement('a')
      manipulaConsultas.setAttribute('id', 'QueryManipulate')
      manipulaConsultas.innerText = `Manipulação de consultas`
      manipulaConsultas.href = '/CancelaConsultaPage'
      navbar.append(newUserBtn, newConsultaBtn, manipulaConsultas)

    }

    else if (dataUser.moreInfos.tipo === 'paciente') {
      const newUserBtn = document.createElement('a')
      newUserBtn.setAttribute('id', 'registerUser')
      newUserBtn.innerText = `Minhas Consultas`
      newUserBtn.href = '/ConsultaPacientePage'


      navbar.append(newUserBtn)

    } else if (dataUser.moreInfos.tipo === 'medico') {
      const newUserBtn = document.createElement('a')
      newUserBtn.setAttribute('id', 'registerUser')
      newUserBtn.innerText = `Verificar minhas Consultas`
      newUserBtn.href = '/ConsultaMedicoPage'

      navbar.append(newUserBtn)
    }

  } else {
    const navbar = document.getElementById('headerNavBar')
    navbar.innerHTML = ''
    navbar.innerHTML = `<a href="/login" id="telaLogin">Login</a>`
  }
</script>